{% extends "layout.html" %} {% block body %}

<div class="container">

    <div class="jumbotron">

        <div class="breadcrumb"><a href="{{ url_for("all") }}">All</a> &gt; {{ product["name"] }} ></div>


        <div class="row">
            <div class="col-md-6">

                <!--<span><img src="{{ url_for("static", filename=product["img"]) }}" class="img-rounded" alt="{{ product["name"] }} ?>"></span>-->

                <span id="pop">
                    <img id="imageresource" src="{{ url_for("static", filename=product["img"]) }}" class="img-rounded" style="width: 100%; height: auto;" alt="Click to Enlarge">
                </span>

            </div>

            <div class="col-md-6">

                <span class="product-name"> {{ product["name"] }}</span>

                <p>{{ product["description"] }}</p>
                <p> <span class='price'> {{ "${:.2f}".format(product["price"]) }}</span></p>
                <br>
                <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="{{ product["item"] }}">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
                <br>
                <p><i class="fa fa-paypal" aria-hidden="true"></i>&nbsp;&nbsp;Payments processed by PayPal.</p>
                <p><i class="fa fa-send"></i>&nbsp;&nbsp;Ships in 7 to 10 business days.</p>
                <p><i class="fa fa-credit-card-alt"></i>&nbsp;&nbsp;Payments are backed by PayPal's Purchase Protection program.</p>

            </div>
        </div>
    </div>
</div>

<!-- Creates the bootstrap modal where the image will appear -->
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--<div class="modal-header">-->
                <!--<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Image preview</h4>-->
                <!--<div class="pull-left">{{ product["name"] }}</div>
                <button type="button" class="close" data-dismiss="modal" title="Close"> <span class="glyphicon glyphicon-remove"></span></button>
            </div>-->
<!--
            <div class="modal-body">-->
                <button type="button" class="close" data-dismiss="modal" title="Close"> <span class="glyphicon glyphicon-remove"></span></button>
                <img src="" id="imagepreview" style="width: 100%; height: auto;">
            <!--</div>-->
            <!--<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>-->
        </div>
    </div>
</div>

{% endblock %}

<!--<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">-->

<!--<div class="breadcrumb"><a href="{{ url_for(" all ") }}">Shirts</a> &gt; {{ product["name"] }} ></div>-->

<!--<div class="row ">
        <div class="col-sm-12 form-group ">
            <button class="btn btn-success btn-large " type="submit " style="font-size: 18px;
        "><i class="fa fa-plus fa-lg " aria-hidden="true "></i> &nbspAdd to Cart</button>
        </div>
    </div>-->